@{
    ViewData["Title"] = "newOrnot";
}

<h2> Adding a song to @ViewBag.message </h2>

<h2>A new or already excisting song?</h2>

<a asp-action="newSong" >New</a>

<br />
<br />
<a href="#">Excisting</a>
