@{
    ViewData["Title"] = "newOrnot";
}

<h2> Adding a song to @ViewBag.message </h2>

<h2>A new or already excisting song?</h2>

<a asp-action="newSong" asp-route-id = "@ViewBag.theId" >New</a>

<br />
<br />
<a href="#">Excisting</a>
